.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
  /* background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%); */
  /* background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%); */
  /* background-image: linear-gradient( 135deg, #52E5E7 10%, #130CB7 100%); */
  /* background-image: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%); */
  background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
  font-family: 'Inter', sans-serif;
}

.shortener-input {
  width: 40vw;
  height: 9vh;
  padding: 0 25px 0 25px;
  font-size: 35px;
  outline: none;
  border-radius: 8px;
  border-style: none;
  -webkit-box-shadow: 10px 10px 23px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -13px rgba(0,0,0,0.75);
}

.shorten-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a {
  width: 16vw;
  height: 9vh;
  border-radius: 8px;
  background-color: white;
  font-size: 30px;
  cursor: pointer;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 10px 10px 23px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -13px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -13px rgba(0,0,0,0.75);
margin-top: 20px;
}

.error {
  position: absolute;
  width: 50vw;
  height: 8vh;
  background-color: rgb(194, 35, 35);
  color: white;
  border-radius: 8px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  position: absolute;
  width: 50vw;
  height: 8vh;
  background-color: rgb(35, 194, 96);
  color: white;
  border-radius: 8px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10vw;
}

.logo-div {
  display: flex;
  align-items: center;
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
}

.about {
  background-color: rgb(32, 32, 32);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.about-component {
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;  
    width: 100vw;  
    height: 100vh;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-inner {
  width: 50vw;
  height: 70vw;
  background-color: white;
  border-radius: 8px;
}

.close-modal {
  cursor: pointer;
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.about-text {
  margin: 0 auto;
  width: 80%;
  margin-top: 25%;
  font-size: 18px;
}


/*BEE ANIMATION LOADER*/

.loader-wrapper {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.loader-bee {
  position:absolute;
  margin: auto;
  height:80px;
  width:80px;
  bottom:100px;
  left: 0;
  right: 0;
}

svg {
  animation: spin 1.5s infinite linear;
  -webkit-animation: spin 1.5s infinite linear;
-moz-animation: spin 1.5s infinite linear;
}
@keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes infinite-spinning {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.bee-icon, .circle {
  fill: #ffffff; 
}